<!DOCTYPE html>
<html>
  <head>
    <title>Television</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="container page-header">
      <h4><a href='/'>mytv</a></h4>
      <div class="right">
        <a href="/login">Login</a>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
